* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #1d2630;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
}
.title{
    text-align: center;
    color: #CCD6DD;
    font-size: 1.3rem;
}
#newtask {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 20px 15px;
    background: #fff;
    border-radius: 5px;
    width: 70rem;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
#newtask input {
    border-radius: 5px;
    width: 90%;
    height: 45px;
    font-size: 2rem;
    border: 2px solid #d1d3d4;
    padding: 10px;
    color: #111111;
    font-weight: 500; 
    transition: 1s;
}
#newtask input:focus {
    outline: none;
    border-color: #252525;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
#newtask button {
    position: relative;
    width: 70px;
    height: 40px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    background: #1d2630;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
#pending-tasks {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 30px 40px;
    border-radius: 5px;
    font-size: 2rem;
}
#pending-tasks .pending-head{
    color: #CCD6DD;
}
#pending-tasks {
    border: 2px solid #CCD6DD;
    border-radius: 1rem;
}
#pending-tasks small{
    font-size: 1.5rem;
    color: #8f9091;
}
#completed-tasks{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 30px 40px;
    border-radius: 5px;
    font-size: 2rem;
}
#completed-tasks .completed-head{
    color: #CCD6DD;
}
#completed-tasks{
    border: 2px solid #CCD6DD;
    border-radius: 1rem;
}
#completed-tasks small{
    font-size: 1.5rem;
    color: #8f9091;
}
.afteradd{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.task {
    background: #fff;
    height: 50px;
    padding: 5px 10px;
    border-radius: 0px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: 2px solid #d1d3d4;
    border-radius: 0.8rem;
}
.task span {
    font-size: 2rem;
    font-weight: 400;
    cursor: pointer;    
}
.task button {
    border: none;
    background: #19a68c;
    height: 100%;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

@media(max-width: 1200px){
    #newtask{
        width: 50rem;
    }
}

@media(max-width: 800px){
    .title h1{
        font-size: 1.2rem;
    }
    #newtask{
        width: 30rem;
    }
    #newtask input{
        font-size: 1rem;
    }
    #newtask button{
        font-size: 12px;
    }
    #pending-tasks{
        font-size: 1rem;
        gap: 0rem;
    }
    #pending-tasks small{
        font-size: 1rem;
    }
    #completed-tasks{
        font-size: 1rem;
        gap: 0rem;
    }
    #completed-tasks small{
        font-size: 1rem;
    }
    .task span{
        font-size: 0.8rem;
    }
}

@media(max-width: 500px){
    #newtask{
        width: 20rem;
    }
}
